h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-container{
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(81, 7, 7);
}

body{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(download\ \(8\).jpg);
}