h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url('download (8).jpg');
    color: whitesmoke;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-container{
    text-align: center;
}

h1{
    text-align: center;
    color: red;
}
